default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: rattle_development
test:
  <<: *default
  database: rattle_test
production:
  <<: *default
  database: rattle_production
  username: rattle
  password: <%= ENV['RATTLE_DATABASE_PASSWORD'] %>
